img.artist-img {
  margin-left: -3rem;
  margin-right: -3rem;
  max-width: 120%;
}

@media screen and (min-width: 700px) {
  img.artist-img {
    margin-left: 0;
    margin-right: 0;
    max-width: 70%;
  }
}
