/* TOP IMAGE  */

.fair-img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--padding);
}

.fair-img-wrapper > .hero-image {
  max-height: 300px;
  justify-content: flex-start;
}

/* WIDGET */

.widget-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.widget {
  max-width: 30%;
  position: absolute;
}

.tag {
  display: inline-block;
}

/* PROGRAMME STYLES  */

.show-item {
  margin-block-end: 2rem;
  width: 100%;
  display: flex;

  align-items: flex-start;
  gap: 1.5rem;
}

.show-item > div > p {
  margin-block-end: 0.5rem;
}

.programme-item {
  margin-block-end: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: rgba(233, 233, 233, 0.2);
  padding: 1.5rem;
  border-radius: 5px;
}

h3.location {
  color: rgba(255, 255, 255, 100);
  width: 100%;
  font-size: 2rem;
  margin-block-end: 1.5rem;
}

.show-image {
  width: 50%;
  margin-block-end: 1rem;
  border-radius: 5px;
}

/* 
.programme-item {
  margin-block-end: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(233, 233, 233, 0.2);
  padding: 1.5rem;
  border-radius: 5px;
}

h3.location {
  color: rgba(255, 255, 255, 100);
  width: 100%;
  font-size: 2rem;
}

.show-item {
  margin-block-end: 2rem;
  width: 48%;
}

.show-item > p {
  margin-block-end: 0;
}

.show-image {
  width: 100%;
  margin-block-end: 1rem;
  border-radius: 5px;
} */

@media screen and (min-width: 450px) {
  .widget {
    max-width: 20%;
    position: absolute;
    right: 5%;
  }
  section {
    margin-block-end: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .widget {
    max-width: 15%;
    position: absolute;
    right: 10%;
  }

  .programme-wrapper {
    display: flex;
    gap: 2rem;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .programme-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-block-end: 0;
    width: 48%;
    background-color: rgba(233, 233, 233, 0.2);
    padding: 1.5rem;
  }

  .programme-item.stretch {
    width: 100%;
  }

  .programme-item.stretch > .show-item {
    max-width: 23.5%;
  }

  .show-item {
    max-width: 50%;
    display: initial;
    margin-block-end: 0;
    width: 48%;
  }
  .show-image {
    width: 100%;
  }

  .show-image.fire {
    width: 50%;
  }
  .fair-img-wrapper > .hero-image {
    max-height: 400px;
  }
  .fair-img-wrapper > .hero-image.band {
    max-height: 300px;
  }
  .fair-img-wrapper > .hero-image.acrobat {
    max-width: 450px;
  }
  img {
    max-width: initial;
  }
}
