/* CAROUSEL  */

.fair-carousel {
  width: 100%;
}

.carousel {
  height: 80vh;
}

.carousel-inner {
  height: 100%;
  padding: 10px;
}

.carousel-item {
  height: 100%;
}

.carousel-caption {
  position: initial;
}

.carousel-caption > h3 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.artist-list {
  font-size: 1.4rem;
  text-align: left;
}

.artist-time {
  display: inline-block;
}

li.artist-item {
  margin-block-end: 2.5rem;
}

.artist-item > a {
  display: inline-block;
}

h3.location {
  font-weight: 600;
}

h4.artist-name {
  font-weight: 700;
  font-size: 1.8rem;
}
