/* CAROUSEL  */

.fair-carousel {
  width: 100%;
}

.carousel {
  height: 80vh;
}

.carousel-inner {
  height: 100%;
  padding: 10px;
}

.carousel-item {
  height: 100%;
}

.carousel-caption {
  position: initial;
}

.carousel-caption > h3 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.artist-list {
  font-size: 1.4rem;
  text-align: left;
}

.artist-time {
  display: inline-block;
}

li.artist-item {
  margin-block-end: 2.5rem;
}

.artist-item > a {
  display: inline-block;
}

h3.location {
  font-weight: 600;
}

h4.artist-name {
  font-weight: 700;
  font-size: 1.8rem;
}

/* OTHER STYLES */

.fair-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--padding);
}

.programme-item {
  margin-block-end: 4rem;
}

h3.location {
  color: rgba(255, 255, 255, 0.6);
}

.show-item {
  margin-block-end: 2rem;
}

.show-item > p {
  margin-block-end: 0;
}

.widget {
  background: var(--accent-color-secondary);
  display: inline-block;
  /* position: fixed; */
  /* right: -10px; */
  padding: 10px 20px 10px 10px;
  font-family: "Big John";
  font-size: 1.5rem;
  /* top: 50%; */
  border: 1px solid #fff;
  /* opacity: 50%; */
  z-index: -9999;
}

.tag {
  display: inline-block;
}

@media screen and (min-width: 450px) {
}
