h2.title {
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
  letter-spacing: 0.4rem;
  margin-block-end: 1rem;
}

h2.play {
  font-size: 3rem;
  font-weight: 600;
  margin-block-end: 2rem;
  font-family: var(--font-headings);
}

.subtitle {
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.3rem;
}
div.hero-image {
  margin-block-end: 1.5rem;
}
@media screen and (min-width: 800px) {
  p {
    max-width: 90%;
  }

  div.hero-image {
    height: 100vh;
  }

  img.hero-image {
    max-width: 450px;
  }
}
