.clessa {
  font-family: "Courgette", cursive;
}

p.clessa {
  font-size: 2rem;
}

.subtitle {
  font-size: 3rem;
  font-family: "Courgette", cursive;
}

body {
  text-align: center;
  font-weight: 600;
}
