body {
  text-align: center;
  font-weight: 600;
}
p {
  font-size: 1.8rem;
}

h1.title,
h2.title {
  margin-bottom: 1.5rem;
}

h1.title {
  font-size: 4rem;
}

h2.title {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

.keyhole-wrapper {
  max-height: 30%;
  margin-block-end: 1.5rem;
}

.info-wrapper > p {
  display: flex;
  flex-direction: column;
}

img.keyhole {
  height: 100%;
}
/* .keyhole.scene {
  position: fixed;
  top: 0;
  z-index: -99999;
} */

/* .keyhole-wrapper {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 */

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 2%;
  left: 0;
}

.logo-wrapper > .logo {
  max-width: 70px;
  z-index: -999999;
}

.info-wrapper {
  padding: var(--padding);
  background-color: transparent;
  border-radius: 10px;
}

.fixed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

img.logo {
  max-width: 100px;
}

.enter {
  background-color: var(--accent-color-secondary);
}

.enter > p {
  margin-block-end: 0;
}

.enter:hover {
  cursor: pointer;
}

.overlay {
  background-image: url(./../assets/img/back-16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  height: 120vh;
  margin-top: -2rem;
  transform: scale(4);
  z-index: -999999;
  opacity: 0.7;
}

.hide {
  display: none;
}

.hideoverlay {
  opacity: 0;
}

@media screen and (min-width: 450px) {
  main {
    gap: 0;
  }

  .fixed {
    left: initial;
    top: initial;
  }
  /* .overlay {
    background-image: url(./../assets/img/landscape.jpg);
    background-position: center center;

    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 120vh;
    margin-top: -2rem;
    transform: scale(1.5);
    z-index: -999999;

  } */
  /* .keyhole {
    height: 90vh;
  } */

  /* .keyhole.black {
    left: inherit;
    top: -15%;
  } */

  .logo-wrapper {
    justify-content: flex-end;
  }

  img.logo {
    max-width: 100px;
    margin-inline-end: 1.5rem;
  }
}

/* COOKIES PLACEHOLDER */
#cookiePopup {
  background: white;
  width: 70%;
  position: fixed;
  left: 10px;
  bottom: 20px;
  box-shadow: 0px 0px 15px #cccccc;
  padding: 5px 10px;
}
#cookiePopup p {
  text-align: left;
  font-size: 15px;
  color: #4e4e4e;
}
#cookiePopup button {
  width: 100%;
  border: navajowhite;
  background: #097fb7;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

@media screen and (min-width: 450px) {
  #cookiePopup {
    width: 25%;
  }
}
