@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

@font-face {
  font-family: "Big John";
  src: url("/assets/fonts/bigjohn.otf") format("opentype");
}

:root {
  --main-bg-color: #1c8f93;
  --accent-color-primary: #e8d7a4;
  --accent-color-secondary: #ea9e25;
  --color-red: #bc4121;
  --color-mint: #94cab7;
  --color-grey: #7f7f7f;
  --color-orange: #e86530;
  --font-headings: "Big John", serif;
  --font-body: "Space Grotesk", sans-serif;
  --font-color: #fff;
  --padding: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-gap: 2rem;
  font-size: 10px;
  background-color: var(--main-bg-color);
  padding: var(--padding);
  /* font-family: "IBM Plex Mono", monospace; */
  font-family: var(--font-body);

  color: #fff;
  text-align: left;
}

main {
  justify-content: center;
  align-items: center;
  width: 100%;
}

main.landing {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  margin-block-end: 4rem;
  width: 100%;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: var(--font-headings);
}

h1 {
  color: var(--accent-color-primary);
}

h1.title {
  font-weight: 700;
  font-size: 4rem;
  margin-block-end: 2.5rem;
  font-family: var(--font-headings);
}

h2.title {
  font-size: 3rem;
  font-weight: 600;
  margin-block-end: 3rem;
  font-family: var(--font-headings);
}

h3.subtitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-block-end: 1.5rem;
  font-family: var(--font-headings);
}

p {
  font-size: 1.6rem;
}

strong {
  font-weight: 600;
}

p.description {
  margin-block-end: 3rem;
}

a.highlighted {
  text-decoration: underline;
}

a:active,
a:focus,
a:hover {
  color: #e8d7a4;
}

img.hero {
  width: 250px;
  /* margin-block-end: 3rem; */
}

span.tag {
  border: #fff solid 1px;
  padding: 1rem;
  background-color: var(--accent-color-secondary);
  font-size: 1.3rem;
  font-weight: 800;
  margin-inline-end: 1rem;
}

/* HEADER  */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1.5rem 0;
  background-color: #1c8f93;
}

/* FOOTER  */
.footer-outer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}
.footer-item > p {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.footer-wrapper:last-child {
  text-align: right;
}

.social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialicon {
  width: 2rem;
  margin-inline-start: 0.5rem;
}

/* HAMBURGER MENU */
.dropdown {
  display: contents;
}

.dropdown-toggle {
  background-color: transparent;
  border: transparent;
  max-width: 10%;
  padding: 0;
}

.dropdown > .btn.show,
.dropdown > .btn.focus {
  background-color: transparent;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu,
.dropdown-menu.show {
  transform: translate3d(70.5px, 15px, 0px);
  font-size: 1.6rem;
}

.btn:hover {
  background-color: inherit;
  border: inherit;
}

.btn.show:focus,
.btn:active:focus {
  box-shadow: none;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

/* BUTTONS */
button {
  padding: 10px;
  font-weight: 600;
  background-color: var(--accent-color-secondary);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}

button > a > p {
  margin-bottom: 0;
}

@media screen and (min-width: 450px) {
  body {
    padding: 20px;
  }

  .dropdown-toggle {
    max-width: 80px;
  }

  main {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  img.hero {
    width: 200px;
  }
  .dropdown {
    z-index: 999999;
  }
  .dropdown-toggle > img {
    max-width: 40px;
  }
}
