@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,600;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");

:root {
  --main-bg-color: #db4d59;
  --accent-colour-primary: yellow;
  --accent-colour-secondary: #756bff;
  --font-headings: "Kiwi Maru", serif;
  --font-body: "Noto Sans", sans-serif;
  --font-color: #fff;
  --padding: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-gap: 2rem;
  font-size: 10px;
  background-color: var(--main-bg-color);
  padding: var(--padding);
  /* font-family: "IBM Plex Mono", monospace; */
  font-family: var(--font-body);

  color: #fff;
  text-align: left;
}

main {
  justify-content: center;
  align-items: center;
  width: 100%;
}

section {
  margin-block-end: 4rem;
  width: 100%;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: var(--font-headings);
}

h1.title {
  font-weight: 700;
  font-size: 4rem;
  margin-block-end: 3rem;
  font-family: var(--font-headings);
}

h2.title {
  font-size: 3rem;
  font-weight: 600;
  margin-block-end: 3rem;
  font-family: var(--font-headings);
}

h3.subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-block-end: 1.5rem;
  font-family: var(--font-headings);
}

p {
  font-size: 1.6rem;
}

p.description {
  margin-block-end: 3rem;
}

a.highlighted {
  text-decoration: underline;
}

img.hero {
  width: 100%;
  margin-block-end: 3rem;
}

span.fair-tag {
  border: #fff solid 1px;
  padding: 1rem;
  background-color: var(--accent-colour-secondary);
  font-size: 1.3rem;
  margin-inline-end: 1rem;
}

/* HEADER  */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER  */
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-item > p {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.footer-wrapper:last-child {
  text-align: right;
}

/* HAMBURGER MENU */
.dropdown {
  display: contents;
}

.dropdown-toggle {
  background-color: transparent;
  border: transparent;
  max-width: 10%;
  padding: 0;
}

.dropdown > .btn.show,
.dropdown > .btn.focus {
  background-color: transparent;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu,
.dropdown-menu.show {
  transform: translate3d(70.5px, 15px, 0px);
  font-size: 1.6rem;
}

.btn:hover {
  background-color: inherit;
  border: inherit;
}

.btn.show:focus,
.btn:active:focus {
  box-shadow: none;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

/* BUTTONS */
button {
  padding: 10px;
  font-weight: 600;
  background-color: var(--accent-colour-secondary);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}

button > a > p {
  margin-bottom: 0;
}

@media screen and (min-width: 450px) {
  body {
    padding: 20px;
  }

  .dropdown-toggle {
    max-width: 80px;
  }

  main {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 20px;
  }

  img.hero {
    width: 300px;
  }
}
